.player {
    position: absolute;
    width: 100%;
    top: 0;
    object-fit: cover;
    object-position: center;
}


@keyframes shrinkLogo {
    0% {
        transform: scale(1);  
    }
    100% {
        transform: scale(0.5);
    }
}


.logo {
    width: 600px;
    animation: shrinkLogo 3s ease-in-out forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}


.player_container {
    position: fixed;
    bottom: 400px;
    left: -20px;
    z-index: 1;
    text-align: center; 
}


.button_container {
    
    display: flex;
    justify-content: center;
    position: relative;
    left: 169px;
    top: 70px;
    width: 100%;
    gap: 20px;
}

.button_play{
    padding: 8px 12px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
    
}

.button_info{
    padding: 8px 12px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.233);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

