.navbar{
    display: flex;
    background-color: rgb(26, 26, 26);
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    color: white;
    
}

.image{
    padding-top: 5px;
    width: 100px;
}

.a_pages{
    padding-right: 800px;
    display: flex;
    gap: 60px;
}
.z_index{
    z-index: 1;
    position: relative;
}