.container {
    max-width: 2000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col_2 {
    width: calc(100% / 4);
    padding: 15px;

}

.sectionTitle{
    color: white;
    font-weight: lighter;
    padding-top: 20px;
    font-size: 50px;
    padding-left: 20px;
}